<html>
    <head>
    	<title>GData Health</title>
    	<link rel="stylesheet" type="text/css" href="/static/health.css">
    	<style>
            body,input{font-family:Helvetica;font-size:16px;}
            th{text-align:left;}
            input{width:200px;}
            table,td{padding:5px;}
    	</style>
    </head>
    <body>
    	<form id="form" name="form" action="ServiceLoginAuth" method="POST">
            {% if request.GET.continue %}<input type="hidden" name="continue" value="{{ request.GET.continue|escape }}" />{% endif %}
            <input type="hidden" name="service" value="health" />
    	    <table>
    	    	<tr>
    	    		<th><label for="Email">Email</label></th>
    	    		<td><input type="email" name="Email" id="Email" /></td>
    	    	</tr>
    	    	<tr>
    	    		<th><label for="Passwd">Password</label></th>
    	    		<td><input type="password" name="Passwd" id="Passwd" /></td>
    	    	</tr>
    	    	<tr>
    	    		<th>&nbsp;</th>
    	    		<td><input type="submit" value="Sign in" /></td>
    	    	</tr>
    	    </table>        	
    	</form>
    	
    	Not using GDataHealth?
    	<a href="/accounts/NewAccount">Create a new account now</a>
    </body>
</html>